<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>NodeJs ToDo</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/todo">Todos</a>
        <a href="/todo/create">Create</a>
        <a href="/todo/sortEarly">Sort Early</a>
        <a href="/todo/sortLate">Sort Late</a>
        <a href="/todo/done">Done Todos</a>
        {{! <a href="/todo/:id/update">Update</a>
        <a href="/todo/:id/delete">Delete</a> }}
      </nav>
    </header>
    {{{body}}}
    <footer>
      This NodeJs project was created by Rasmus using express and express
      handlebars.
    </footer>
  </body>
</html>