<h2>Create new ToDo</h2>

<form action="/todo/create" method="post">
  <input type="datetime-local" name="created" placeholder="Date created" />
  <input type="text" name="description" placeholder="Description" />
  <select name="done">
    <option value="false">False</option>
    <option value="true">True</option>
  </select>
  <input type="submit" value="Add" /></form>